<!DOCTYPE html>
<html>
	<%- include("./../public/back/header.ejs") %>
		<div class="main-content container floatfix">
			<%- include("./../public/back/sidebar.ejs") %>
			<div class="user-right">
				<%- include("./../public/back/userinfo.ejs") %>
				<div class="user-oparate">
					<nav>
						<ul class="nav-itme-container floatfix">
							<li class="nav-item"><a href="/admin/admin-user">用户管理</a></li>
							<li class="nav-item"><a href="/admin/admin-book">图书管理</a></li>
							<li class="nav-item"><a href="/admin/admin-equip">设备管理</a></li>
							<li class="nav-item  nav-item-cur"><a href="/admin/useradd">增加用户</a></li>
						</ul>
					</nav>
					<form>
						<div class="form-group">
							<label for="">用户名：</label>
							<input type="text" value="" id="readerName" >
						</div>
						<div class="form-group">
							<label for="">权限：</label>
							<div class="radio">
                            	<label class="radio-inline"><input type="radio" permission="admin-super"  value="" name="permission">超级管理员</label>
                            	<label class="radio-inline"><input type="radio" permission="admin-book"  value="" name="permission">图书管理员</label>
                            	<label class="radio-inline"><input type="radio" permission="admin-camera"  value="" name="permission">设备管理员</label>
                            	<label class="radio-inline"><input type="radio" permission="user"  value="" name="permission" >普通用户</label>
							</div>
						</div>
						<div class="form-group hope-group" style="display:none">
							<label for="">厚朴组：</label>
							<div class="radio">
                            	<label class="radio-inline"><input type="radio" class=""  value="" name="hopeGroup">网管组</label>
                            	<label class="radio-inline"><input type="radio" class=""  value="" name="hopeGroup">编程组</label>
                            	<label class="radio-inline"><input type="radio" class=""  value="" name="hopeGroup">设计组</label>
                            	<label class="radio-inline"><input type="radio" class=""  value="" name="hopeGroup">数码组</label>
							</div>
						</div>
						<div class="form-group">
							<label for="">邮箱：</label>
							<input type="text" value="" id="email">
						</div>
						<div class="form-group">
							<label for="">密码：</label>
							<input type="password" value="" id="password">
						</div>
						<div class="form-group">
							<label for="">确认密码：</label>
							<input type="password" value="" id="confirmPassword">
						</div>
						<p class="button-group button-group-2"><button type="button" id="save">确认</button><a class="button" href="javascript:history.go(-1);location=location"  title="返回">返回</a></p>
					</form>
				</div>
			</div>
		</div>
		<footer>
		<%- include("./../public/back/footer.ejs") %>
		<script src="/js/adduser.js"></script>
		<script src="/js/public/loginout.js"></script>
	</body>
</html>