.main-right-nav{
  background:$main-bgcolor;
  border:$aside-border;
  padding:$nav-padding;
  height:$nav-height;
  @include l-v-center(20px);
  font-size:16px;
  &-list-item{
    @include float-left;
    @include pointer;
    font-family:$global-zh-light-title-font-family;
    padding:$nav-item-padding;
    border-right:$aside-border;
    a{
      display: block;
    }
    &:last-child{
      border-right:none;
    }

  }
  &-list-item-active{
    font-weight: bold;
  }
}