html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
address,
code,
em,
img,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: inherit;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  color: inherit;
}

img {
  border: 0;
}

table {
  width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

input {
  background: transparent;
  border: none;
}

input[type=submit] {
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:link,
:visited {
  text-decoration: none;
}

pre {
  font-family: "Lucida Console", Consolas, "Courier New", Tahoma;
  color: #666;
  text-indent: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

article,
aside,
figure,
figcaption,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

.form-group {
  padding: 0px 20px 10px;
  height: 40px;
}
.form-group label {
  width: 10%;
  text-align: right;
  display: inline-block;
}
.form-group input {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  height: 24px;
  width: 50%;
  padding: 6px 5px;
  margin-left: 5%;
  background: #fff;
}

.radio {
  display: inline-block;
  margin-left: 5%;
}
.radio .radio-inline {
  padding-left: 20px;
  padding-top: 13px;
  position: relative;
  box-sizing: border-box;
  margin-right: 15px;
  display: inline-block;
  width: auto;
}
.radio input[type="radio"] {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 14px;
  display: inline-block;
}

body {
  font: 14px/1 Helvetica, Arial, sans-serif;
  background: #f0f0f0;
}

a {
  color: #000;
}
a:hover {
  color: #1c95ea;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-right {
  margin-left: 244px;
}

.t-1 {
  width: 10%;
}

.t-2 {
  width: 20%;
}

.t-3 {
  width: 30%;
}

.t-4 {
  width: 40%;
}

.t-5 {
  width: 50%;
}

.t-6 {
  width: 60%;
}

.t-7 {
  width: 70%;
}

.t-8 {
  width: 80%;
}

.t-9 {
  width: 90%;
}

.t-10 {
  width: 100%;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.t-left-padding {
  padding-left: 20px;
}

.t-right-padding {
  padding-right: 20px;
}

.header {
  padding: 20px 0;
  height: 22px;
  background: #2f3440;
  color: #fff;
}
.header-title {
  float: left;
  font-size: 22px;
}
.header-right {
  float: right;
}
.header-right span {
  line-height: 22px;
  height: 22px;
  cursor: pointer;
  padding: 0 15px;
}
.header-right span a {
  color: #fff;
}

.footer {
  padding: 35px 0;
  background: #2f3440;
  color: #fff;
}
.footer h3 {
  text-align: center;
}
.footer h3 a {
  color: #fff;
}

.banner {
  height: 94px;
  padding: 23px 0;
  background-image: url("../img/banner.png");
  background-position: center;
}
.banner-avatar {
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.banner-avatar img {
  border-radius: 50%;
}
.banner-word {
  float: left;
  padding: 10px 20px;
  color: #fff;
}
.banner-word h2 {
  font-size: 24px;
  font-family: "Microsoft Yahei";
  line-height: 1.5em;
}
.banner-word p {
  font-size: 16px;
  font-family: "Microsoft Yahei light";
  line-height: 1.5em;
}

.main {
  padding: 20px 0;
  min-height: 700px;
  margin-bottom: 50px;
}

.aside {
  border: 1px solid #e1e1e1;
  width: 223px;
  background: #fff;
  font-size: 18px;
  font-family: "Microsoft Yahei light";
  float: left;
}
.aside-list-item {
  height: 58px;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}
.aside-list-item a {
  display: block;
  padding: 20.5px 0;
}
.aside-list-item a:hover {
  background: #1c95ea;
  color: #fff;
}
.aside-list .aside-list-item-active a {
  background: #1c95ea;
  color: #fff;
}

.main-right-nav {
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 19px 0px;
  height: 58px;
  line-height: 20px;
  height: 20px;
  font-size: 16px;
}
.main-right-nav-list-item {
  float: left;
  cursor: pointer;
  font-family: "Microsoft Yahei light";
  padding: 0 20px;
  border-right: 1px solid #e1e1e1;
}
.main-right-nav-list-item a {
  display: block;
}
.main-right-nav-list-item:last-child {
  border-right: none;
}
.main-right-nav-list-item-active {
  font-weight: bold;
}

.main-right-table {
  margin-top: 20px;
  background: #fff;
}
.main-right-table table tr {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 45px;
  font-family: "Microsoft Yahei light";
}
.main-right-table table tr th {
  font-weight: bold;
}

.main-right-table-manage span {
  display: inline-block;
  padding: 0 6px;
  cursor: pointer;
}
.main-right-table-manage span:hover {
  color: #1c95ea;
}

.main-right-page-num {
  margin-top: 20px;
  text-align: center;
  font-family: "Microsoft Yahei light";
}
.main-right-page-num span {
  display: inline-block;
  background: #fff;
  height: 24px;
  width: 24px;
  margin: 0px 5px;
  line-height: 24px;
  height: 24px;
}
.main-right-page-num span a {
  display: block;
  border: 1px solid #e1e1e1;
}
.main-right-page-num span a:hover {
  color: #fff;
  background: #1c95ea;
}
.main-right-page-num .main-right-page-num-active a {
  color: #fff;
  background: #1c95ea;
}

.main-right-form {
  font-family: "Microsoft Yahei light";
  margin-top: 20px;
  background: #fff;
  display: block;
  font-size: 14px;
  padding: 40px 0 0;
}
.main-right-form .form-group {
  padding-bottom: 20px;
}
.main-right-form .main-right-form-file {
  height: 160px;
  position: relative;
}
.main-right-form .main-right-form-file input {
  width: 130px;
  height: 160px;
  border: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.main-right-form .main-right-form-file img {
  position: absolute;
  margin-left: 30px;
}
.main-right-form input {
  margin-left: 25px;
  background: #fafafa;
  box-shadow: 0px 0px 2px #ccc inset;
}
.main-right-form input[type=radio] {
  margin-left: 5%;
  box-shadow: none;
  top: 8px;
}
.main-right-form input[type=radio]:focus {
  outline: none;
}
.main-right-form-button {
  margin-top: 30px;
  border-top: 1px solid #e1e1e1;
  padding: 20px 0;
  font-size: 16px;
}
.main-right-form-button-confirm {
  float: left;
  margin-right: 20px;
  margin-left: 120px;
}
.main-right-form-button-confirm input {
  background: #1c95ea;
  color: #fff;
  width: 94px;
  height: 40px;
}
.main-right-form-button-cancel {
  float: left;
  width: 94px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background: #dedede;
}
.main-right-form-button-cancel:hover {
  background: #1c95ea;
  color: #fff;
}

.main-right-borrow {
  margin-top: 20px;
}
.main-right-borrow-list-item {
  float: left;
  width: 221px;
  border: 1px solid #e1e1e1;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
}
.main-right-borrow-list-item:nth-child(4n) {
  margin-right: 0;
}
.main-right-borrow-list-item-img {
  display: block;
  height: 190px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 20px;
}
.main-right-borrow-list-item-message {
  padding: 10px 20px;
  font-family: "Microsoft Yahei light";
  line-height: 1.5em;
}
.main-right-borrow-list-item-message p {
  color: #a5a5a5;
  padding-bottom: 10px;
}
.main-right-borrow-list-item-message button {
  background: #1c95ea;
  color: #fff;
  height: 32px;
  width: 78px;
  cursor: pointer;
}
.main-right-borrow-list-item-message button[disabled="disabled"] {
  background: #a3a3a3;
}
