@charset "UTF-8";
/**
 * 
 * @authors 忽如寄 (594613537@qq.com)
 * @date    2016-09-16 15:24:56
 * @version v1.0
 */
/**********css reset -s**********/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, address, code, em, img, small, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: inherit; 
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: inherit;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
article p{
    line-height:1.8em;
}
img {
    border: 0;
    vertical-align: top;
    height:auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

input, button, textarea, select {
    *font-size: 100%;
}

input {
    background: transparent;
    border: none;
}

input[type=submit] {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
} 

select::-ms-expand {
    display: none;
}

body {
    font: 14px/1 "Microsoft Yahei",Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

ol, ul, li {
    list-style-type: none;
}

button {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width:100%;
width:100%;
}

:link, :visited {
    text-decoration: none;
}

pre {
    font-family: "Lucida Console", Consolas, "Courier New", Tahoma;
    color: #666;
    text-indent: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
hr.clearfloat {margin:0;width:100%;height:0;font:0/0 Arial;clear:both;border:none;visibility:hidden;}
article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {
    display: block;
}

figure {
    margin: 0;
}

a, a:link, a:visited {
    color: #000;
}

a:hover {
    color: #1da1f3;
}

body {
    font: 14px/1 Helvetica, 'Microsoft Yahei light','Microsoft Yahei', '宋体',sans-serif;
    color: #000;
}
img{
	max-width:100%;
	height:auto;
}
/**********css reset -e**********/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.floatfix {
    zoom: 1; 
}
.floatfix:after {
    content: "";
    display: table;
    clear: both;
}
body{
	background:#f4f4f4;
}






.logo{
	float:left;
	padding:42px 0;
}
.header{
	height:124px;

}
.main-nav{
	float:right;
	padding:42px 0;
}
.main-nav ul li{
	float:left;
	height:40px;
	width:70px;
	line-height:40px;
	text-align: center;
	font-size: 16px
}
.subnav{
	border:1px solid #ddd;
	border-left:0px;
	border-right:0px;
	height: 40px;
}
.bookcate-container-item{
	padding-bottom: 20px;
    border-bottom:1px solid #ddd;
}
.bookcate-container-item:last-child{
    border-bottom: none;
}
.bookcate-container-item h1{
	padding:15px 0;
	font-size:20px;
	text-align:center;
}
.book-list-item{
	float:left;
	padding-right:50px;
	width:200px;
	padding-bottom:10px;
    position:relative;
}
.book-list-item:last-child{
	padding-right:0px;
}
.book-list-item img{
	width:100%;
	height:280px;
	padding-bottom:10px;
}
.book-list-item p{
	padding:5px;
	height:1.1em;
	line-height: 1.1em;
}
.borrow-btn{
	width:60px;
	height:30px;
	background:#1da1f3;
	color:#fff;
	font-family: "Microsoft Yahei";
	margin:0 auto;
	display:block;
	font-size:16px;
	border-radius: 5px;
	cursor:pointer;
}
.borrow-btn:hover{
	background:#35adf8;
}



.hope_footer {
    border-top: 1px solid #d9d9d9;
    line-height: 25px;
    position: relative;
    color: #999;
    padding-top:5px;
    color:#000;
}
.hope_footer_siteInfo{
    width:50%;
    float:right;
    text-align:right;
}
.hope_footer_siteInfo{

}
.hope_footer_copyright{
    width:50%;
    float:left;
}

.img-mask{
    width:200px;
    height:280px;
    background:#0a0a0a;
    position:absolute;
    top:0;
    left:0;
    display:block;
    z-index: 9999;
    opacity:.5;
}