@charset "UTF-8";
/**
 * 
 * @authors 忽如寄 (594613537@qq.com)
 * @date    2016-09-16 15:24:56
 * @version v1.0
 */
/**********css reset -s**********/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, address, code, em, img, small, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: inherit; 
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: inherit;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
article p{
    line-height:1.8em;
}
img {
    border: 0;
    vertical-align: top;
    height:auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

input, button, textarea, select {
    *font-size: 100%;
}

input {
    background: transparent;
    border: none;
}

input[type=submit] {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
} 

select::-ms-expand {
    display: none;
}

body {
    font: 14px/1 "Microsoft Yahei",Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

ol, ul, li {
    list-style-type: none;
}

button {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width:100%;
width:100%;
}

:link, :visited {
    text-decoration: none;
}

pre {
    font-family: "Lucida Console", Consolas, "Courier New", Tahoma;
    color: #666;
    text-indent: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
hr.clearfloat {margin:0;width:100%;height:0;font:0/0 Arial;clear:both;border:none;visibility:hidden;}
article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {
    display: block;
}

figure {
    margin: 0;
}

a, a:link, a:visited {
    color: #000;
}

a:hover {
    color: #0cca7a;
}

body {
    font: 14px/1 Helvetica, 'Microsoft Yahei light','Microsoft Yahei', '宋体',sans-serif;
    color: #000;
}
img{
	max-width:100%;
	height:auto;
}
/**********css reset -e**********/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.floatfix {
    zoom: 1; 
}
.floatfix:after {
    content: "";
    display: table;
    clear: both;
}
body{
	background:#f4f4f4;
}

.topbar{
	height:24px;
	padding:20px 0;
	background-color: #fff;
}
.topbar-left
{
    font-size: 20px;
    line-height: 24px;

    float: left;

    height: 24px;
}

.topbar-right{
	float:right;
}
.topbar-right span
{
    font-size: 16px;
    line-height: 24px;

    display: inline-block;

    height: 100%;
}

.topbar-right span:first-child{
	margin-right:25px;
}
.main-content{
	margin-top:30px;
}
.user-left{
	float:left;
	width:160px;
	margin-right:30px;
	background:#fff;
	padding:20px 25px;
	height:100%;
	height:600px;
}
.user-right{
	float:left;
	width:960px;
}
.user-img img{
    width:160px;
    height: 160px;
    margin-bottom:15px;

}
.user-img p{
	text-align: center;
}
.user-menu{
	margin-top:30px;
}
.user-menu h1{
	font-size:16px;
}
.user-menu h1 i{
	margin-right:5px;
}
.user-menu .menu-list-item{
	margin-top:15px;
	padding-left:21px;
	font-size:14px;
}
.user-info h1{
	font-size: 16px;
	line-height: 20px;
	padding: 15px 25px;
	border-bottom:1px solid #f0f0f0;
}
.basic-info-item{
    float:left;
    height:50px;
    padding:15px;
    width:33.3333%;
}
.info-item-icon{
	float:left;
}
.info-item-right{
	float:left;
}
.info-item-icon{
	font-size:48px;
	color:#0cca7a;
	line-height: 50px;
	margin-right:10px;
}
.info-item-right p{
    line-height: 25px;
}
.info-item-right p:nth-child(1){
	color:#989898;
}
.user-info{
	background:#fff;
	margin-bottom:30px;
}
.user-oparate nav{
	height:;
}
.user-oparate{
	background:#fff;
	height:479px;
}
.user-oparate nav{
	height:40px;
	padding:0 25px;
	border-bottom:1px solid #f0f0f0;
}
 nav .nav-item{
	height:38px;
	float: left;
	width:12%;
}
nav .nav-item a{
	display: block;
	line-height: 38px;
    text-align: center;
}
nav .nav-item-cur{
	border-bottom:2px solid #0cca7a;
}
table.operate-list-container{
	
}
table.operate-list-container tr{
	padding:10px 25px;
    border-bottom:1px solid #f0f0f0;
}
th.bookname,td.bookname{
	width:40%;
	text-align: left;
	line-height: 16px;
	padding:10px 0 10px 25px;
}
th.borow-time,th.return-time,th.main-oparate{
	width:20%;
	line-height: 16px;
	line-height: 16px;
	padding:10px 0;
}
td.borow-time,td.return-time,td.main-oparate{
	padding:15px 0;
	text-align: center;
}
th.main-oparate,td.main-oparate{
	padding-right:25px;
}
footer{
	background:#fff;
	height:32px;
	padding:30px 0;
	margin-top:30px;
}
footer p{
	line-height: 32px;
	font-size: 16px;
	text-align: center;
}

/*修改密码页面 */
.user-oparate form{
	padding:30px 25px;
}
.form-group{
	padding:0px 20px 10px;
	height:40px;
}
input{
	border:1px solid #f0f0f0;
	border-radius:3px;
	height:24px;
	width:50%;
	padding:6px 5px;
	margin-left:5%;
}
label{
	width:10%;
	text-align:right;
	display:inline-block;
}
p.button-group-1{
	padding-left:35%;
}
p.button-group button,p.button-group .button{
	padding:10px 15px;
	background-color: #0cca7a;
	color:#fff;
	border-radius: 3px;
	width:80px;
	font-weight: 700;
	font-size:14px;
	letter-spacing: 5px;
	cursor:pointer;
}
p.button-group .button{
	text-align: center;
    width: 50px;
    display: inline-block;
}
p.button-group-2{
    padding-left:25%;
}
p.button-group-2 button,p.button-group-2 .button{
	margin-left:20px;
}
p.button-group button:hover,p.button-group .button:hover{
	background-color: #0c9259;
}
input[type="radio"]{
	font-size:14px;
	width:14px;
	display:inline-block;
}
label.radio-inline{
	padding-left: 20px;
    padding-top: 13px;
    width: 32px;
    position: relative;
    box-sizing: border-box;
    margin-right: 15px;
    display: inline-block;
    width:auto;
}
label.radio-inline input[type="radio"]{
	position:absolute;
	left:0px;
	top: 10px;
}
div.radio{
	display: inline-block;
	margin-left:5%;
}

/* 分页 */
.page-control{
	height:30px;
	margin:0 auto;
	text-align: center;
	margin-top:10px;
}
.page-control span{
	display: inline-block;
	padding:5px 8px;
	border:1px solid #ddd;
}





.logo{
	float:left;
	padding:42px 0;
}
.header{
	height:124px;

}
.main-nav{
	float:right;
	padding:42px 0;
}
.main-nav ul li{
	float:left;
	height:40px;
	width:70px;
	line-height:40px;
	text-align: center;
	font-size: 16px
}
.subnav{
	border:1px solid #ddd;
	border-left:0px;
	border-right:0px;
	height: 40px;
}
.bookcate-container-item{
	padding-bottom: 20px;
}
.bookcate-container-item h1{
	padding:15px 0;
	font-size:20px;
	text-align:center;
}
.book-list-item{
	float:left;
	padding-right:50px;
	width:200px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}
.book-list-item:last-child{
	padding-right:0px;
}
.book-list-item img{
	width:100%;
	height:280px;
	padding-bottom:10px;
}
.book-list-item p{
	padding:5px;
	height:1.1em;
	line-height: 1.1em;
}
.borrow-btn{
	width:60px;
	height:30px;
	background:#1da1f3;
	color:#fff;
	font-family: "Microsoft Yahei";
	margin:0 auto;
	display:block;
	font-size:16px;
	border-radius: 5px;
	cursor:pointer;
}
.borrow-btn:hover{
	background:#35adf8;
}
