.main-right-form{
  font-family:$global-zh-light-title-font-family;
  margin-top:$main-table-margin-top;
  background:$main-bgcolor;
  display: block;
  font-size:14px;
  padding:40px 0 0;
  .form-group{
    padding-bottom:20px;
  }
  .main-right-form-file{
    height:160px;
    position:relative;
    input{
      width:130px;
      height:160px;
      border:none;
      position:absolute;
      opacity:0;
      @include pointer;
    }
    img{
      position:absolute;
      margin-left:30px;
    }
  }
  input{
    margin-left:25px;
    background:#fafafa;
    box-shadow: 0px 0px 2px #ccc inset;
  }
  input[type=radio]{
    margin-left:5%;
    box-shadow:none;
    top:8px;
    &:focus{
      outline: none;
    }
  }
  &-button{
    margin-top:30px;
    border-top:$aside-border;
    padding:20px 0;
    font-size:16px;
    &-confirm{
      @include float-left;
      margin-right:20px;
      margin-left:120px;
      input{
        background:$global-active-bgcolor;
        color:$global-active-color;
        width:94px;
        height:40px;
      }
    }
    &-cancel{
      @include float-left;
      width:94px;
      @include l-v-center(40px);
      @include text-center;
      @include pointer;
      background:#dedede;
      &:hover{
        background:$global-active-bgcolor;
        color:$global-active-color;
      }
    }
  }
}