.main-right-page-num{
  margin-top:$page-num-margin-top;
  @include text-center;
  font-family: $global-zh-light-title-font-family;
  span{
    display: inline-block;
    background:$main-bgcolor;
    height:$page-num-item-height;
    width:$page-num-item-height;
    margin:$page-num-item-margin;
    @include l-v-center($page-num-item-height);
    a{
      display:block;
      border:$aside-border;
      &:hover{
        color:$global-active-color;
        background:$global-active-bgcolor;
      }
    }
  }
  .main-right-page-num-active{
    a{
      color:$global-active-color;
      background:$global-active-bgcolor;
    }
  }
}