    <div class="hope_footer">
    <div class="hope_container floatfix container">
        <div class="hope_footer_siteInfo func_hideInPhoneAndvPad">
            <div>
                总访问量：<span class="js_hope_total_viewers">15878106
</span>人次
            </div>
            <div>
                <a href="http://ce.sysu.edu.cn/hope/user/login.aspx">◇</a>
                <a href="http://ce.sysu.edu.cn/hope/">厚朴〖HOPE〗工作室</a>
                <a href="http://ce.sysu.edu.cn/hope/admin/login.aspx">◇</a>设计<p></p>
            </div>
        </div>
        <div class="hope_footer_copyright">
            <div class="hope_footer_copyright_left">
                <a href="http://www.sysu.edu.cn/">中山大学</a>
                <a href="http://ce.sysu.edu.cn/">化学学院</a>
            </div>
            <div class="hope_footer_copyright_right">
                <a class="func_hideInPhoneAndvPad" href="http://ce.sysu.edu.cn/hope/FriSite/Index.aspx">友情链接</a>
                <a class="func_hideInPhoneAndvPad" href="http://ce.sysu.edu.cn/hope/Sitemap/Index.aspx">网站地图</a>
                <a class="func_hideInPhoneAndvPad" href="http://ce.sysu.edu.cn/hope/About/Index.aspx">联系我们</a>
            </div>
        </div>
    </div>

</div>