<aside class="aside">
    <ul class="aside-list">
        <li class="aside-list-item <%if(firstPath == 'book'){%> aside-list-item-active <%}%>">
            <a href="/user">图书管理</a>
        </li>
        <li class="aside-list-item <%if(firstPath == 'camera'){%> aside-list-item-active <%}%>">
            <a href="/user/reservation">设备管理</a>
        </li>
        <li class="aside-list-item <%if(firstPath == 'account'){%> aside-list-item-active <%}%>"">
            <a href="/user/modify">账号管理</a>
        </li>
        <li class="aside-list-item <%if(firstPath == 'borrow'){%> aside-list-item-active <%}%>"">
            <a href="/book">图书借阅</a>
        </li>
        <li class="aside-list-item <%if(firstPath == 'reservation'){%> aside-list-item-active <%}%>"">
            <a href="/equip">设备预约</a>
        </li>
    </ul>
</aside>