<!DOCTYPE html>
<html>
	<%- include("./../public/back/header.ejs") %>
		<div class="main-content container floatfix">
			<%- include("./../public/back/sidebar.ejs") %>
			<div class="user-right">
				<%- include("./../public/back/userinfo.ejs") %>
				<div class="user-oparate">
					<form>
					<div class="form-group">
						<label>新密码：</label>
						<input type="password" name="" id="reset-password" value="">
					</div>
					<div class="form-group">
						<label>确认密码：</label>
						<input type="password" name="" id="config-password" value="">
					</div>
					<p class="button-group button-group-1"><button type="button" id="resetBtn">确认</button></p>
					</form>
				</div>
			</div>
		</div>
		<%- include("./../public/back/footer.ejs") %>
		<script src="/js/reset.js"></script>
		<script src="/js/public/loginout.js"></script>
	</body>
</html>