<section class="banner">
    <div class="container clearfix ">
        <div class="banner-avatar">
            <img src="<%= userImg %>" alt="">
        </div>
        <div class="banner-word">
            <h2><%= userName %>，欢迎你</h2>
            <p>书卷多情思故人，晨昏忧乐每相亲。</p>
        </div>
    </div>
</section>