<div class="main-right-form-button clearfix">
    <div class="main-right-form-button-confirm">
        <input type="button" value="保存" id="save">
    </div>
    <div class="main-right-form-button-cancel" id="js-form-reset">重置</div>
</div>