<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<title>厚朴工作室图书借阅系统</title>
		<meta http-equiv="X-UA-Compatible"content="IE=edge, chrome=1">
		<meta http-equiv="Content-Type"content="text/html; charset=UTF-8">
		<meta name="viewport"content="width=device-width,initial-scale=1.0">
		<meta name="format-detection"content="telephone=no">
		<meta http-equiv="Access-Control-Allow-Origin"content="*">
		<link rel="stylesheet"href="/css/main.css"/>
		<link rel="stylesheet"href="/css/font-awesome/font-awesome.min.css"/>
		<script src="/js/public/jquery-hope.js"></script>
		<script src="/js/layer/layer.js"></script>
		<style>
			html,body{
				height:100%;
				width:100%;
			}
		</style>
	</head>
	<body>
		<div class="login-bg">
			<form action="">
				<h1>厚朴图书设备管理系统</h1>
				<div class="form-group floatfix">
					<label for=""><i class="fa fa-user"></i></label>
					<input type="text"placeholder="登录名"id="username">
				</div>
				<div class="form-group floatfix">
					<label for=""><i class="fa fa-lock"></i></label>
					<input type="password"placeholder="密码"id="password">
				</div>
				<p><a href="javascript:"id="loginBtn">登录</a></p>
			</form>
			<script src="/js/login.js"type="text/javascript"charset="utf-8"r></script>
		</div>
	</body>