<div class="user-left">
	<div class="user-img">
		<a href="/admin"><img src="<%=userImg%>" alt=""></a>
		<p>欢迎你，<%=userName%></p>
	</div>
	<div class="user-menu">
		<h1><i class="fa fa-cog"></i>账号</h1>
		<ul class="menu-list">
		    <%if(userPermission=="super" || userPermission=="book" || userPermission=="camera"){var permission="admin"}else if(userPermission=="user"){var permission="user"}%>
			<li class="menu-list-item"><a href="/<%=permission%>/modify">修改信息</a></li>
			<li class="menu-list-item"><a href="/<%=permission%>/reset">修改密码</a></li>
		</ul>
	</div>
</div>