.form-group{
  padding:0px 20px 10px;
  height:40px;
  label{
    width:10%;
    text-align:right;
    display: inline-block;
  }
  input{
    border:1px solid #f0f0f0;
    border-radius:3px;
    height:24px;
    width:50%;
    padding:6px 5px;
    margin-left:5%;
    background:#fff;
  }
  input[disabled="disabled"] {
    cursor: not-allowed;
  }
}
.radio{
  display:inline-block;
  margin-left: 25px;
  .radio-inline{
    padding-left: 20px;
    padding-top: 13px;
    position: relative;
    box-sizing: border-box;
    margin-right: 15px;
    display: inline-block;
    width: auto;
  }
  input[type="radio"] {
    position:absolute;
    left:0px;
    top:10px;
    width:14px;
    display:inline-block;
  }
}
.undisplay{
  display:none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset !important;
}


