// global setting
$global-font:14px/1 Helvetica, Arial, sans-serif ;
$global-font-family: Microsoft Yahei,Helvetica, Arial, sans-serif;
$global-background-color: #f0f0f0;
$global-width:1200px;
$global-font-color:#000;
$global-link-color:#1c95ea;
$global-active-bgcolor:#1c95ea;
$global-active-color:#fff;
$global-zh-title-font-family:'Microsoft Yahei';
$global-zh-light-title-font-family:'Microsoft Yahei light';
// header setting
$header-bgcolor:#2f3440;

// footer setting
$footer-bgcolor:#2f3440;
$footer-color:#fff;

// main setting
$main-padding:20px 0;
$main-height:700px;
$main-bgcolor:#fff;
$main-margin-bottom:50px;

// aside setting
$aside-border:1px solid #e1e1e1;
$aside-width:223px;
$aside-item-height:58px;

// main-right setting
$main-right-margin-left:244px;

// nav setting
$nav-padding:19px 0px;
$nav-height:58px;
$nav-item-padding: 0 20px;

// main-table setting
$table-padding:0 20px;
$td-height:43px;
$main-table-margin-top:20px;

// main-page-num setting
$page-num-margin-top:20px;
$page-num-item-margin:0px 5px;
$page-num-item-height:24px;

// main-book-borrow setting
$book-borrow-item-padding:10px 20px;