<nav class="main-right-nav">
    <ul class="main-right-nav-list clearfix ">
        <%if(firstPath=="user"){%>
        <li class="main-right-nav-list-item <%if(secondPath=="modify" || !secondPath){%> main-right-nav-list-item-active <%}%>">
            <a href="/admin/admin-book">当前用户</a>
        </li>
        <li class="main-right-nav-list-item <%if(secondPath=="add"){%> main-right-nav-list-item-active <%}%>">
            <a href="/admin/bookadd">增加用户</a>
        </li>
        <%}%>
        <%if(firstPath=="book"){%>
        <li class="main-right-nav-list-item <%if(secondPath=="modify" || !secondPath){%> main-right-nav-list-item-active <%}%>">
            <a href="/admin/admin-book">库存图书</a>
        </li>
        <li class="main-right-nav-list-item <%if(secondPath=="add"){%> main-right-nav-list-item-active <%}%>">
            <a href="/admin/bookadd">增加图书</a>
        </li>
        <%}%>
        <%if(firstPath=="camera"){%>
        <li class="main-right-nav-list-item <%if(secondPath=="modify" || !secondPath){%> main-right-nav-list-item-active <%}%>">
            <a href="/admin/admin-equip">库存设备</a></li>
        <li class="main-right-nav-list-item <%if(secondPath=="check"){%> main-right-nav-list-item-active <%}%>">
            <a href="/admin/check">预约审核</a></li>
        <%}%>
        <%if(firstPath=="account"){%>
        <li class="main-right-nav-list-item  <%if(secondPath=="modify"){%> main-right-nav-list-item-active <%}%>"><a
                    href="/admin/modify">我的信息</a></li>
        <li class="main-right-nav-list-item  <%if(secondPath=="reset"){%> main-right-nav-list-item-active <%}%>"><a
                    href="/admin/reset">修改密码</a></li>
        <%}%>
    </ul>
</nav>