<aside class="aside">
    <ul class="aside-list">
        <%if(userPermission == 'super'){%>
        <li class="aside-list-item <%if(firstPath == 'user'){%> aside-list-item-active <%}%>">
            <a href="">用户管理</a>
        </li>
        <%}%>
        <%if(userPermission == 'super' || userPermission == 'book'){%>
        <li class="aside-list-item <%if(firstPath == 'book'){%> aside-list-item-active <%}%>">
            <a href="/admin/admin-book">图书管理</a>
        </li>
        <%}%>
        <%if(userPermission == 'super' || userPermission == 'camera'){%>
        <li class="aside-list-item <%if(firstPath == 'camera'){%> aside-list-item-active <%}%>">
            <a href="">设备管理</a>
        </li>
        <%}%>
        <li class="aside-list-item <%if(firstPath == 'account'){%> aside-list-item-active <%}%>">
            <a href="/admin/modify">账号管理</a>
        </li>
    </ul>
</aside>